<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="files" >

  <!-- parameterType="dto.FilesDTO" -->
    <insert id="f_insert" >
      insert into files
      select files_f_num_seq.nextval, A.* from(
         <foreach collection="list" item="upload" separator="union all">
            select #{upload.f_name} as f_name,#{upload.board_b_num} as board_b_num
             from dual
         </foreach>
      )A
    </insert>
  
 	<delete id="f_delete_all" parameterType="int" >
	  delete from files
	  where board_b_num=#{b_num}
	</delete>
	
	<delete id="f_delete" parameterType="String" >
	  delete from files
	  where f_name=#{f_name}
	</delete>
	
   	<select id="f_list" resultType="dto.FilesDTO">
		select * from files
		where board_b_num=#{b_num}
	</select>
	
	<select id="f_name" parameterType="int" resultType="dto.FilesDTO">
	  select f_name form files
	  where board_b_num=#{b_num}
	</select>
 
 
 </mapper>