<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="helpC">
	
	<select id="Hlist" parameterType="dto.PageDTO" resultType="dto.BoardDTO">
		<!-- select * from board where b_category_c_num=0 order by b_num desc -->
		<![CDATA[
		 select b.* from
    	 (select rownum as rm, a.*   from(
    	 select * from board where b_category_c_num=0 order by b_num desc)a)b
    	 where b.rm>=#{startRow} and b.rm<=#{endRow}
	]]>
	</select>
	
	<select id="Hblog" parameterType="int" resultType="dto.BoardDTO">
		select * from board where b_num=#{b_num}
	</select>
	
	<insert id="HblogIns" parameterType="dto.BoardDTO">
		insert into board values(board_b_num_seq.nextval, #{b_content}, #{filename,jdbcType=VARCHAR}, 0, 0, #{user_id}, 222, 0, #{title}, sysdate)
	</insert>
	
	<select id="Hcomlist" parameterType="int" resultType="dto.ReplyDTO">
		select * from b_comment where board_b_num=#{board_b_num} order by cm_num
	</select>
	
	<insert id="Hcomins" parameterType="dto.ReplyDTO">
		insert into b_comment values(b_comment_cm_num_seq.nextval, #{cm_content}, #{board_b_num}, #{user_id}, sysdate, null)
	</insert>
	
	<update id="HviewCnt" parameterType="int">
		update board
		set	viewcount=viewcount+1
		where b_num=#{b_num}
	</update>
	
	<delete id="HblogDel" parameterType="int">
		delete from board where b_num=#{b_num}
	</delete>
	
	<update id="HblogUp" parameterType="dto.BoardDTO">
		update board set title=#{title}, b_content=#{b_content}
		<if test="filename!=null">
			,filename=#{filename}
		</if>
		where b_num=#{b_num}
	</update>
	
	<delete id="HcomAllDel" parameterType="int">
		delete from b_comment where board_b_num=#{board_b_num}
	</delete>
	
	<select id="Hgetfile" parameterType="int" resultType="String">
		select filename from board where b_num=#{b_num}
	</select>
	
	<select id="HBlogCount" resultType="int">
		select count(*) from board where b_category_c_num=0
	</select>
	
	<select id="HBlogCount2" resultType="int">
		select count(*) from board where b_category_c_num=0 and upper(title) like '%' || upper(#{searchWord}) || '%'
	</select>
	
	<select id="Hlist2" parameterType="dto.PageDTO" resultType="dto.BoardDTO">
		<!-- select * from board where b_category_c_num=0 order by b_num desc -->
		<![CDATA[
		 select b.* from
    	 (select rownum as rm, a.*   from(
    	 select * from board where b_category_c_num=0 and upper(title) like '%' || upper(#{searchWord}) || '%' order by b_num desc)a)b
    	 where b.rm>=#{startRow} and b.rm<=#{endRow}
		]]>
	</select>
	
	<select id="Hfile" parameterType="int" resultType="String">
		select filename from board where b_num=#{b_num}
	</select>
	
	<delete id="HComDel" parameterType="int">
		delete from b_comment where cm_num=#{cm_num}
	</delete>
	
	<update id="HComUpd" parameterType="dto.ReplyDTO">
		update b_comment set cm_content = #{cm_content} where cm_num=#{cm_num}
	</update>
	
	<select id="HMBoard" resultType="dto.BoardDTO">
		<![CDATA[
		 select b.* from
    	 (select rownum as rm, a.*   from(
    	 select * from board where b_category_c_num=0 order by b_num desc)a)b
    	 where b.rm=1
		]]>
	</select>
</mapper>











