<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main">

	<select id="cityList" resultType="dto.CityDTO">
		select * from city 
	</select>
	
	<select id="reviewList" parameterType="string" resultType="dto.MainReviewDTO">
		select * from board where city_code=#{city_code} and b_category_c_num=1
	</select>
	
</mapper>


















 
 
 
 
 
 
