<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="res">

	<select id="dList" parameterType="reservation.AirinfoDTO" resultType="reservation.AirinfoDTO">
		select * from airinfo
		where d_time like #{d_time} || '%'
		and city_code_dep=#{city_code_dep}
		and city_code_arv=#{city_code_arv}
	</select>
	
	<select id="rList" parameterType="reservation.AirinfoDTO" resultType="reservation.AirinfoDTO">
		select * from airinfo
		where d_time like #{a_time} || '%'
		and city_code_dep=#{city_code_arv}
		and city_code_arv=#{city_code_dep}
	</select>
	
	<select id="list" resultType="reservation.AirinfoDTO">
		select * from airinfo
	</select>
	
</mapper>


















 
 
 
 
 
 
