<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="suggest" >

	<select id="dataCount" resultType="int">
      select count(*) from board where b_category_c_num = 1
	</select>
	
	<select id="cityCount" parameterType="String"  resultType="int">
	  select count(*) from board where b_category_c_num = 1 and city_code=#{city_code}
	</select>	

	<update id="viewCount" parameterType="int">
		update board
		set	viewcount=viewcount+1
		where b_num=#{b_num}
	</update>
	
	<select id="likeCount" parameterType="int" resultType="int">
	   select b_like from board where b_num = #{b_num}
	</select>
	
	<update id="liked" parameterType="int">
		update board
		set	b_like=b_like+1
		where b_num=#{b_num}
	</update>
	
	<update id="Unliked" parameterType="int">
		update board
		set	b_like=b_like-1
		where b_num=#{b_num}
	</update>
	

	<select id="listAll"  resultType="dto.BoardDTO" parameterType="dto.PageDTO" >   
   <![CDATA[

	 select b.* from
     (select rownum as rm, a.* from(
     select * from board where b_category_c_num=1 order by b_num desc)a)b
     where b.rm>=#{startRow} and b.rm<=#{endRow}
	]]>
	</select>
	
	
	<!-- 수정 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ,DTO에  city code 넣어주기  -->
	<select id="list" parameterType="dto.PageDTO"  resultType="dto.BoardDTO">   
   <![CDATA[ 
	 select b.* from
     (select rownum as rm, a.* from(
     select * from board where city_code=#{city_code} and b_category_c_num=1 order by b_num desc)a)b
     where b.rm>=#{startRow} and b.rm<=#{endRow}
	]]>
	</select>
	
<!-- 	<select id="view" parameterType="int" 
	        resultType="dto.BoardDTO">
   <![CDATA[
	 select b.* from
     (select b_category_c_num as cn, b_num as bn, a.* from(
     select * from board )a)b
     where b.cn=1 and b.bn=#{b_num}
	]]>
	</select> -->
	
    <select id="view" parameterType="int" 
	        resultType="dto.BoardDTO">
	 select * from board where b_num=#{b_num}
	</select>
	
	<select id="getCity" parameterType="String" resultType="dto.CityDTO">
	  select * from city where country_country_code=#{country_code}
	</select>
	
	
	<select id="getCityList" parameterType="String" resultType="dto.CityDTO">
	  select * from city where country_country_code=#{country_code}
	</select>
	
	<insert id="sugWrite" parameterType="dto.BoardDTO" >
	  <selectKey resultType="int" keyProperty="b_num" order="BEFORE">
			select board_b_num_seq.nextval from dual
	  </selectKey>
		insert into board
		values(#{b_num},#{b_content},null,0,0,#{user_id},#{city_code},1,#{title},sysdate)
	</insert>  



	<delete id="Delete" parameterType="int">
	   delete from board where b_num=#{b_num}
	</delete>
	
	<update id="Update" parameterType="dto.BoardDTO">
	   update board set b_content=#{b_content}, title=#{title} where b_num=#{b_num}
	</update>
	
	<select id="listSearch" resultType="dto.BoardDTO" parameterType="dto.PageDTO">  
     <![CDATA[ 
	 select b.* from
     (select rownum as rm, a.* from(
     select * from board where (title like '%' || #{searchWord} || '%' or b_content like '%' || #{searchWord} || '%') and b_category_c_num =1 order by b_num desc)a)b
     where b.rm>=#{startRow} and b.rm<=#{endRow} 
	 ]]>  
    </select>
    
    <select id="searchCount" parameterType="dto.PageDTO"  resultType="int">
	  select count(*) from board where (title like '%' || #{searchWord} || '%') or (b_content like '%' || #{searchWord} || '%') and b_category_c_num = 1 
	</select>	

</mapper>